body { 
    background: white;
}
.perent{ 
    height: 50rem;
    width: 100%;
}
.head{ 
    display: flex;
    height: 3rem;
    margin: auto;
    width: 96.5%;
    background-color: rgb(199, 198, 198);
    border-radius: 10px;
}
.w{ 
    display: block;
    padding: 8px;
    height: 2rem;
    width: 2rem;
    color: blueviolet;
    font-size: 12px;
    
}
.head > h3{ 
    color: blueviolet;
    font-size: 25px;
    width: 20%;
    margin: auto;
    padding: 8px;
    
}
.plan1 , .plan3{ 
    width: 95%;
    margin: 15px;

    height: 11rem;
    background-color: rgb(184, 177, 177);
    
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.plan2{ 
    width: 95%;
    height: 11rem;
    background-color: rgb(147, 65, 223);
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.plan1 > h3 , .plan3 > h3{ 
    font-size: 25px;
    color: black;
    margin: 3px;
    padding: 3px;
}
.plan1 > #plan , .plan3 > #plan{ 
    color: rgb(147, 65, 223) ;
    font-size: 25px;
    margin: 3px;
    padding: 3px;
}
.plan1 > .dis ,.plan3 > .dis{ 
    font-size: 15px;
    font-style: italic
}
.plan2 > h3{ 
    font-size: 25px;
    color: white;
    margin: 3px;
    padding: 3px;

}
.plan2 > #plan{ 
    color: white ;
    font-size: 25px;
    margin: 3px;
    padding: 3px;

}
.button{ 
    width: 15%;
    margin: auto;
    border-radius: 10%;
}

.sub{ 
       width: 12rem;
       height: 3rem;
       margin: 12px ,12px;
    background-color: rgb(147, 65, 223);
    font-size: 25px;
    color: white;
    border-radius: 50px;
}
.lower{ 
    height: 4rem;
    width: 96.5%;
    background-color:  rgb(184, 177, 177);
    margin: auto;
    margin-top: 10px;
    
    border-radius: 10px;
    display: flex;
    
}
.home , .group , .menu{ 
    display: grid;
    margin: auto;

}
.h{ 
    width: 2rem;
    height: 3rem;
    display: block;
    margin: auto;
    

}
.home >p , .group >p , .menu >p{ 
    margin: auto;
}
